EVE NG

Palo Alto Firewall - This lab uses v10.1

Cisco Router Image - This lab uses router 7206V

Linux VM - This lab uses Ubuntu Server 24.04.01

Cisco L2 Switch

To be installed in VM -
python3
pip3
netmiko
pyyaml
rich
requests
venv
wget
curl
